.related-movie-item-wrapper {
    margin: 0 5px;
}

.related-movie-item-wrapper img {
    width: 100%;
    object-fit: contain;
}

.related-movie-info {
    display: flex;
    justify-content: space-between;
}

.rating-wrapper {

}